{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet">
    <script src=" https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>Uwezo Achievers</title>
</head>
<body>
     <!--===== HEAD =====-->
     <header class="head">
        <nav class="nav grid">
                <div class="top-name">                   
                {% if user.is_authenticated %}
                <h5>{{user.username}} <input type="button" id = 'logo' value="UA"> </h5> 
                {% else %}    
                <input type="button" id = 'logo' value="UA">
             {% endif %}
                </div>

                <div class="logo"><h3>Uwezo Achievers</h3></div>

            <div class="nav_menu" id = "nav_menu">
                <ul class="nav__list" id="nav_list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">Opportunities</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">News</a></li>
                </ul>
            </div>
            <div class="menu_bar" id="menu_bar">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    
    <main class="intro">
    {% if user.is_authenticated %}
    <a href="logout" class="logoutbtn"> <input type="button" id = "logoutbtn" value="Logout"> </a>
    {% else %}
    <ul class="login-register">
        <li><a href="login" class="loginbtn"> <input type="button" id="loginbtn" value="Login"> </a></li>
        <li><a href="register" class="registerbtn"> <input type="button" id="registerbtn" value="Sign Up"> </a>
        </li>
    </ul>

    {% endif%}

    </main>
 <!--===== FOOTER =====-->
 <footer class="footer">
    <p class="footer__title">Uwezo <br> Achievers</p>
    <div class="number"><h5>Get In Touch</h5> </div>
      <div class="footer__social">
          <a href="https://www.linkedin.com/in/dennis-yiaile-3ab6851a7" class="footer__icon"><i class='bx bxl-linkedin'></i></a>
          <a href="https://www.facebook.com/denno.kamakx" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
          <a href="https://www.instagram.com/yiaile_kamakei/" class="footer__icon"><i class='bx bxl-instagram'></i></a>
          <a href="https://twitter.com/YKamakei?s=08" class="footer__icon"><i class='bx bxl-twitter'></i></a>
      </div>
      <p>&#169; 2021 Uwezo Achievers. All Rights Reserved.</p>
</footer>
</body>
</html>